<h1>New novelties</h1>
<div class="panel panel-default col-xs-8">

<%= render 'form' %>
<div class="panel panel-footer">

<%= link_to 'Back', admin_novelties_path %>
</div>
</div>
<div class="panel panel-default col-xs-4">
<%= render 'create_category' %>
<%= render 'show_category' %>
</div>