

<h3>Listing Comments</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Comments</th>
      <th>Date</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @comments.each do |comment| %>
      <tr>
          <td><%= comment.owner.try(:name) %></td>
          <td><%= comment.text %></td>
          <td>  <%= comment.created_at.strftime("%d-%m-%Y   %H:%M") %> </td>
               <% if comment.owner == current_user  ||  @project.owner ==   current_user %>
            <td> <%= link_to 'Delete' ,[@project, comment], method: :delete, data: { confirm: 'Are you sure?' } %> </td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
