@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, serif;
  font-size: 13px;
  line-height: 15px;
  background: #bcd;
  min-width: 1100px;
}
header{
  background: #678;
  padding: 6px;
}
footer{
  background: #678;
  padding: 6px;
}
.tbody{
  background: #9ab;
}
.page_class_project{
  background:#9ab;
  margin:  -6px;
  padding: 6px;
  text-align: center;
}
.page_class_title{
  background:#9ab;
  margin:  -6px 6px;
  padding: 6px;
  text-align: center;
}
.page_class_no{
  width: 67px;
  margin:  -6px;
  padding: 6px;
}
img{
  height: 35px;
  max-width: 130px;
}
.left {
  margin-top: 20px;
}
.center{
  margin-top: 20px;
}
.right{
  margin-top: 20px;
}
.comments{
}
.center-block{
  text-align: center;
}
input {
  max-width: 15em;
}
textarea {
  max-width: 15em;
  background: #bcd;
}
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 13px;

}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

td {
  padding: 5px;
  max-width: 300px;
  word-wrap: break-word;

}


a {
  color: #154;
  text-decoration: none;

  &:visited {
    color: #53b;
  }

  &:hover {
    color: #fff;
    background-color: #abc;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

#alert {
  // border: solid 2px red;
  color: red;
}

#error {
  color: red;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  max-width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

  h2 {
    // text-align: left;
    // font-weight: bold;
    // padding: 5px 5px 5px 15px;
    // font-size: 12px;
    // margin: -7px;
    // margin-bottom: 0px;
    // background-color: #c00;
    // color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
