@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-select";

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, serif;
  font-size: 13px;
  line-height: 15px;
  min-width: 1100px;
}
header{
  padding: 6px;
}
footer{
  padding: 6px;
}
.tbody{
  padding-top: 20px;
}
.page_class_project{
  margin:  -6px;
  padding: 6px;
  text-align: center;
}
.page_class_title{
  margin:  -6px 6px;
  padding: 6px;
  text-align: center;
}
.page_class_no{
  width: 67px;
  margin:  -6px;
  padding: 6px;
}
img{
  height: 35px;
  max-width: 130px;
}
.left {
  margin-top: 20px;
}
.center{
  margin-top: 20px;
}
.right{
  margin-top: 20px;
}
.comments{
}
.center-block{
  text-align: center;
}
input {

}
textarea {
  max-width: 18em;
  background: #ffd;
}
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 13px;

}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

td {
  padding: 5px;
  max-width: 300px;
  word-wrap: break-word;

}


a {
  color: #154;
  text-decoration: none;

  &:visited {
    color: #53b;
  }

  &:hover {
    color: #fff;
    background-color: #abc;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.event{
  text-align: center;
  background-color: none;
  position: absolute;
  padding: 5px;
  top: 25px;
  border-radius: 4px;
  z-index: 2;
}
#notice {
  color: green;
}

#alert {
  // border: solid 2px red;
  color: red;
}

#error {
  color: red;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  max-width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

ul li {
    font-size: 12px;
    list-style: square;
 }

.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #C66;
  &:first-letter { text-transform: uppercase; }
}
.ch_width .bootstrap-select{
  width: 0;
}