%div{style: "margin:8px 10px;"}
  %button.btn.btn-default.dropdown-toggle{type:"button", "data-toggle"=>"dropdown"}
    %span.lang-xs.lang-lbl{lang: I18n.locale}
    %span.caret
  %ul.dropdown-menu
    %li
      = link_to locale: 'uk' do
        %span.lang-xs.lang-lbl-full{lang:"uk"}
    %li.divider{role: "separator"}
    %li
      = link_to locale: 'ru' do
        %span.lang-xs.lang-lbl-full{lang:"ru"}
    %li.divider{role: "separator"}
    %li
      = link_to locale: 'en' do
        %span.lang-xs.lang-lbl-full{lang:"en"}
