%div{style: "margin:8px 10px;"}
  %button.btn.btn-default.dropdown-toggle{type:"button", "data-toggle"=>"dropdown"}
    %span.lang-xs.lang-lbl{lang: I18n.locale}
    %span.caret
  %ul.dropdown-menu
    - I18n.available_locales.each_with_index do |lang, i|
      - unless i.zero?
        %li.divider{role: "separator"}
      %li
        = link_to locale: lang do
          %span.lang-xs.lang-lbl-full{lang: lang}
